=============== 
Unity generated
===============
Temp/
Library/
PawPatrolRescueRun/Library/
PawPatrolRescueRun/Temp/

=====================================
Visual Studio / MonoDevelop generated
=====================================
ExportedObj/
PawPatrolRescueRun/ExportedObj/
obj/
PawPatrolRescueRun/obj/
*.svd
*.userprefs
/*.csproj
PawPatrolRescueRun/*.csproj
*.pidb
*.suo
/*.sln
PawPatrolRescueRun/*.sln
*.user
*.unityproj
*.booproj

============
OS generated
============
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db


============
Custom
============
PawPatrolRescueRun/Builds/Android/*
PawPatrolRescueRun/Builds/iOS/*
PawPatrolRescueRun/Builds/*
PawPatrolRescueRun/*.apk
PawPatrolRescueRun/Assets/StreamingAssets/international.txt
PawPatrolRescueRun/Assets/StreamingAssets/international.txt.meta
PawPatrolRescueRun/AssetBundles
